body {
  background-color: black;
  font-size: 22px;
  font-family: Helvetica, sans-serif;
  color: seashell;
  opacity: 0.9;

/*Header*/

}

header {
  display: inline-flex;
  border-bottom: 1px solid seashell;
  width: 100%;
  height: 69px;
  align-items: center;
  z-index: 1;
}

a {
  padding-left: 30px;
  color: seashell;
  margin-right: 20px;
  padding-left: 20px;
}

.logo img {
  height: 50px;
  padding-left: 10px;
}

.logo {
 display: flex;
 flex-grow: 1;
}

/*MAIN CONTENT*/

.main {
  position: relative;
  text-align: center;
}

.first img {
  width: 1200px;
  height: 760px;
  display: block;
  position: relative;
  padding-left: 70px;
}

.text-content {
  position: absolute;
  top: 65%;
  left: 50%;
  text-align: center;
  align-items: center;
  width: 100%;
  font-size: 22px;
  transform: translate(-50%, -50%);
  background-color: black;
}

#products {
  display: flex;
  max-width: 1000px;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
  margin: 0 auto;
}

.product img {
  width: 300px;
  height: 200px;
  padding: 15px;
  margin-left: 0 auto;
  margin-right: 0 auto;
}

.tea-month {
  text-align: center;
  margin: 0 auto;
}

.product p {
  margin-bottom: 0 auto;
  text-align: center;
  margin-top: -10px;
}

.third {
  display: block;
  position: relative;
}

/*LOCATION SECTION*/

#location-section {
  display: flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  flex-direction: column;
 align-items: center;
 justify-content: center;
 margin: 0 auto;
 height: 600px;
 width: 1200px;
}

.location-header {
  margin-bottom: 0;
  margin-top: -65px;

}

.location-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.location-box {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 285px;
  opacity: 0.9;
  background-color: black;
  align-items: center;
}

.middle-box {
  margin-left: 40px;
  margin-right: 40px;
  background-color: black;
  align-items: center;
}

/*FOOTER*/

.info {
  text-align: center;
  height: 200px;
}

.copyright {
  margin-left: 20px;
}
